<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<form action="/addSpecial" method="post">
    <input type="text" name="title"/>
    <input type="submit" value="提交"/>
</form>

</body>
</html>