<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<form action="/addSpecial" method="post">
    <input type="text" name="title"/>
    <input type="submit" value="提交"/>
</form>

<ul>
    <% for(var i= 0;i<items.length;i++){ %>
    <li data-id="<%= items[i]._id%>"> <%= items[i].title %> <a href="/editSpecial/<%= items[i]._id%>">编辑</a> </li>

    <% } %>
</ul>



</body>
</html>