<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>蜗牛直播后台</title>
    <meta name="description" content="蜗牛移动">
    <meta name="author" content="woniu" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="common/bootstrap.min.css">
    <link rel="stylesheet" href="css/new_col.css"/>
    <link rel="stylesheet" href="css/common.css"/>
</head>
<body>
	<div class="wrapper">
		<div class="container container-fluid">
			<div class="header row">
				<div class="col-xs-2">
					<a class="logo" href=""></a>
				</div>
  				<div class="col-xs-7 header-center">
  					<em class="big-font">蜗牛直播</em>
					<em class="little-font">后台管理系统</em>
  				</div>
  				<div class="col-xs-3 header-right">
					<em class="username">陈伟飞</em>
					<em class="erect"> | </em>
					<a class="login-out" href="">退出</a>
				</div>
			</div>
			<div class="main">
				<div class="login-bar">
					<a href="javascript:history.go(-1)" class="login-bar-left"></a>
					<div class="login-bar-right">新增项目</div>
				</div>
                <form action="/addCategory" method="post">
				<div class="sem-area">

                        <div class="col-name">
                            <div class="col-xs-4">
                                <div class="sem-font">新项目名称：</div>
                            </div>
                            <div class="col-xs-8">
                                <div class="sem-inp">
                                    <input type="text" name="title"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-code">
                            <div class="col-xs-4">
                                <div class="sem-font">新项目代码：</div>
                            </div>
                            <div class="col-xs-8">
                                <div class="sem-inp">
                                    <input type="text" name="category_code"/>
                                </div>
                            </div>
                        </div>

					<div class="col-msg">
						*此代码慎重填写，不可更改。自动生成专题链接live.snail.com/A/B.html  A即为此处填入的代码。
					</div>
				</div>

				<div class="sem-btn">
					<div class="col-xs-6">
						<a href="" class="show-btn btn-cancel">取 消</a>
					</div>
					<div class="col-xs-6">
						<button type="submit" class="show-btn btn-publish">发 布</button>
					</div>
				</div>
                </form>
			</div>
		</div>
	</div>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="common/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>