<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>

<form action="/updateSpecial" method="post"></form>

<input type="text" value="<%= title %>"/>
<input type="submit" value="提交"/>

</body>
</html>