<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>蜗牛直播后台</title>
    <meta name="description" content="蜗牛移动">
    <meta name="author" content="woniu" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>

	<div class="wrapper">
		<div class="container container-fluid">
			<div class="header row">
				<div class="col-xs-2">
					<a class="logo" href=""></a>
				</div>
  				<div class="col-xs-7 header-center">
  					<em class="big-font">蜗牛直播</em>
					<em class="little-font">后台管理系统</em>
  				</div>
  				<div class="col-xs-3 header-right">
					<em class="username">陈伟飞</em>
					<em class="erect"> | </em>
					<a class="login-out" href="">退出</a>
				</div>
			</div>
			<div class="select-area">
				<div  id="select">
				<div class="select" >
					<!-- 蜗牛移动中国杯帆船赛现场直播 -->
					<a href="#" class="down" id="arrow"></a>
					<ul class="ul-wrap">
						<li>
							<span class="pd-left" id="pd-show">蜗牛移动</span>
							<ul class="ul-list">
								<li><span><a href="http://www.baidu.com">摩奇手机七城活动直播</a></span></li>
								<li><span>摩奇手机七城活动直播</span></li>
							</ul>
						</li>
						<li><span class="pd-left">免商店</span></li>
						<li><span class="pd-left">太极熊猫</span></li>
						<li><span class="pd-left">免商店</span></li>
						<li><span class="pd-left">免商店</span></li>
					</ul>
				
				</div>
				</div>
				<div class="a-area">
					<div class="col-xs-6 copy">
						<a href=""><span class="a-copy"></span>复制专题链接</a>
					</div>
					<div class="col-xs-6 go">
						<a href=""><span class="a-go"></span>直接访问</a>
					</div>
				</div>
			</div>
			<div class="main">
				<div class="menu">
					<div class="col-xs-3">
						<a href="advertising.html" class="a-ad">
							<img src="images/ad.png">
							<span class="down-font">广告位设置</span>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="online_nop.html" class="a-rs">
							<img src="images/rs.png">
							<span class="down-font">在线人数设置</span>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="" class="a-zt">
							<img src="images/zt.png">
							<span class="down-font">活动专题</span>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="new_con.html" class="a-fb">
							<img src="images/fb.png">
							<span class="down-font">发布新内容</span>
						</a>
					</div>
				</div>
				<div class="table-area">
					<div class="table-responsive table-bordered">
					  <table class="table">
					  	<tr class="title">
					  		<td>标题</td>
					  		<td>发布时间</td>
					  		<td>修改者</td>
					  		<td>操作</td>
					  	</tr>
					  <% for(var i=0;i<posts.length;i++){ %>
					  	<tr class="content">
					  		<td><%= posts[i].title %></td>
					  		<td><%= posts[i].create_at %></td>
					  		<td><%= posts[i].author %></td>
					  		<td><a href="" class="change">修改</a></td>
					  	</tr>
					  <%}%>
					  	
					  	<tr class="content">
					  		<td>CJ结束了咱们明年见</td>
					  		<td>11/12 15:30</td>
					  		<td>陈伟飞</td>
					  		<td><a href="" class="change">修改</a></td>
					  	</tr>
					  	<tr class="content">
					  		<td>CJ结束了咱们明年见</td>
					  		<td>11/12 15:30</td>
					  		<td>陈伟飞</td>
					  		<td><a href="" class="change">修改</a></td>
					  	</tr>
					  	<tr class="content">
					  		<td>CJ结束了咱们明年见</td>
					  		<td>11/12 15:30</td>
					  		<td>陈伟飞</td>
					  		<td><a href="" class="change">修改</a></td>
					  	</tr>
					  	<tr class="content">
					  		<td>CJ结束了咱们明年见</td>
					  		<td>11/12 15:30</td>
					  		<td>陈伟飞</td>
					  		<td><a href="" class="change">修改</a></td>
					  	</tr>
					  </table>
					</div>
				</div>
				<div class="show-much">
					<!-- <a href="" class="a-more">
						<img src="images/arrow.png">
						<span class="draft-more">拖拽获取更多</span>
					</a> -->
					<div class="col-xs-3"><a href="" class="prev-page page-btn">上一页</a></div>
					<div class="col-xs-6">
						<select class="much-select">
							<option>126</option>
							<option>127</option>
							<option>128</option>
						</select>
					</div>
					<div class="col-xs-3"><a href="" class="next-page page-btn">下一页</a></div>
				</div>

			</div>
		</div>
	</div>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="common/bootstrap.min.js"></script>
<script type="text/javascript" src="common/blockUI.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>