<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>蜗牛直播后台</title>
    <meta name="description" content="蜗牛移动">
    <meta name="author" content="woniu" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/common/bootstrap.min.css">
    <link rel="stylesheet" href="/css/edit_issue.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
	
	<div class="wrapper">
		<div class="container container-fluid">
			<div class="header row">
				<div class="col-xs-2">
					<a class="logo" href=""></a>
				</div>
  				<div class="col-xs-7 header-center">
  					<em class="big-font">蜗牛直播</em>
					<em class="little-font">后台管理系统</em>
  				</div>
  				<div class="col-xs-3 header-right">
					<em class="username">陈伟飞</em>
					<em class="erect"> | </em>
					<a class="login-out" href="">退出</a>
				</div>
			</div>
			<div class="main">
				<div class="login-bar">
					<a href="javascript:history(-1)" class="login-bar-left"></a>
					<div class="login-bar-right">发布新内容</div>
				</div>
				<div class="edit-area">
					<div class="edit-title">
						<div class="list-3">标题：</div>
						<div class="list-9"><input type="text" value="《九阴真经》新资料片新八大门派服饰装"></div>
					</div>
					<div class="edit-con">
						<div class="list-3 edit-con-list">内容：</div>
						<div class="list-9">
							<textarea rows="5" cols="20" class="textarea">据说你这《九阴真经》新资料片里新八大门派服饰装，武侠迷知道是哪个门派吗据说你这《九阴真经》新资料片里新八大门派服饰装，武侠迷知道是哪个门派吗据说你这《九阴真经》新资料片里新八大门派服饰装，武侠迷知道是哪个门派吗~
							</textarea>
						</div>
						<div class="left-15">还可以输入200字</div>
					</div>
					<div class="edit-pic">
						<div class="list-3">图片：</div>
						<div class="list-9">
							<img src="images/pic.png">
						</div>
					</div>
					<div class="upload-pic">
						<a href=""></a>
					</div>
					
				</div>
				<div class="edit-btn">
					<div class="col-xs-6"><a href="" class="delete-btn show-btn">删 除</a></div>
					<div class="col-xs-6"><a href="" class="upload-btn show-btn">上 传</a></div>
				</div>
				
			</div>
		</div>
	</div>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="common/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>