/*  
* @description: 蜗牛直播后台  
* @author: wangchao  
* @update: name (2014-11-14 17:15)  
*/ 
.container{
	position: relative;
	min-width: 320px;
	margin: 0 auto;
	z-index: 100;
	background: #f1f1f1;
	min-height: 100%;
	width: 100%;
	padding: 0;
}
.wrapper{
	width: 100%;
	height:100%;
}
.main{
	overflow: hidden;
	padding: 10px;
}
.login-bar{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 10px;
}
.login-bar .login-bar-left{
	width: 10px;
	height: 16px;
	float: left;
	background: url("../images/common/back.png") center no-repeat;
	background-size: 10px 16px;
}
.login-bar .login-bar-right{
	color: #666666;
	width: 100%;
	font:18px/18px "微软雅黑";
	font-weight: bold;
	text-align: center;
	height: 20px;
}
.sem-area{
	width: 100%;
	background: #fff;
	padding: 10px;
	overflow: hidden;
}
.sem-area .sem-inp{
	line-height: 20px;
	float: left;
	overflow: hidden;
}
.sem-inp a{
	text-decoration: none;
}
.sem-inp input{
	height: 40px;
	line-height: 90px;
	width: 100%;
	font:20px/40px "微软雅黑";
}
.sem-inp input:focus{
	outline: 0;
}
.sem-font{
	height: 20px;
	color: #666666;
	float: left;
	text-align: center;
	font:14px/20px "微软雅黑";
}
.sem-change-btn{
	color: #ff7f00;
	background: #fff;
	border: 2px solid #ff7f00;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 4px;
	font: 10px/10px "微软雅黑";
}
.sem-change-btn:hover{
	color: #ff7f00;
	background: #fff;
	border: 2px solid #ff7f00;
}
/*.new-sem-btn{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}
.new-sem-btn a{
	text-decoration: none;
	text-align: center;
	width: 100%;
	display: block;
	border: 2px #bbbbbb solid;
	border-radius: 4px;
	height: 35px;
}
.plus-btn img{
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
.plus-btn span{
	color: #bbbbbb;
	font:15px/35px "微软雅黑";
}*/
.top-btn{
	text-align: center;
}
.top-btn img{
	width: 88px;
	height: 30px;
}
.main .border-top{
	border-top: 1px #e0e0e0 solid
}
.sem-area ul{
	font:12px/16px "微软雅黑";
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.li-area{
	width: 100%;
	padding: 10px;
	overflow: hidden;
}
.ul-bg{
	background: #f9f9f9;
}
.main .menu{
	overflow:hidden;
	list-style-type: none;
	font:14px/16px "微软雅黑";
	padding: 0px;
	margin: 0;
}
.main .menu a{
	text-decoration: none;
}
.level-2{
	list-style-type: none;
	overflow:hidden;
	list-style-type: none;
	font:12px/16px "微软雅黑";
	padding: 0;
	margin: 0;
	display: none;
	background: #f9f9f9;
}
.level-2 li{
	overflow: hidden;
	border-top: 1px #e0e0e0 solid;
}
.level-1 .li-title{
	padding: 10px;
	display: block;
	color: #333333;
	width: 75%;
	float: left;
	font:14px/16px "微软雅黑";
}
.li-title img{
	width: 7px;
	height: 12px;
	margin-top: -2px;
	margin-right: 6px;
}
.level-1 .li-wrap{
	display: block;
	overflow: hidden;
	width: 100%;
	background: #fff;
	border-top: 1px #e0e0e0 solid;
}
.change-btn-wrap{
	overflow: hidden;
	display: block;
	padding: 5px;
	margin: 0 auto;
	width: 25%;
	float: left;
}
.list-span{
	display: block;
	width: 75%;
	float: left;
	padding: 10px 10px 10px 26px;
}
.list-span-wrap{
	float: left;
	display: block;
	width: 25%;
	padding: 5px;
}