/*  
* @description: 蜗牛直播后台  
* @author: wangchao  
* @update: name (2014-11-25 13:15)  
*/ 
.container{
	position: relative;
	min-width: 320px;
	margin: 0 auto;
	z-index: 100;
	background: #f1f1f1;
	min-height: 100%;
	width: 100%;
	padding: 0;
}
.wrapper{
	width: 100%;
	height:100%;
}
.main{
	overflow: hidden;
	padding: 10px;
}
.login-bar{
	width: 100%;
	padding-top:10px;
	overflow: hidden;
}
.login-bar .login-bar-left{
	width: 10px;
	height: 16px;
	float: left;
	background: url("../images/common/back.png") center no-repeat;
	background-size: 10px 16px;
}
.login-bar .login-bar-right{
	color: #666666;
	width: 100%;
	font:18px/18px "微软雅黑";
	font-weight: bold;
	text-align: center;
	height: 20px;
}
.sem-area{
	width: 100%;
	margin-top: 20px;
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	overflow: hidden;
}
.sem-area .sem-inp{
	width: 100%;
	line-height: 20px;
	float: left;
	overflow: hidden;
}
.sem-inp input{
	height: 25px;
	line-height: 25px;
	width: 100%;
	font:10px/25px "微软雅黑";
}
.sem-inp input:focus{
	outline: 0;
}
.sem-font{
	height: 20px;
	color: #666666;
	float: left;
	text-align: center;
	font:12px/20px "微软雅黑";
}
.sem-btn{
	margin-top: 20px;
	padding-left:5%;
	padding-right:5%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.sem-btn a{
	text-decoration: none;
}
.btn-cancel {
	color: #fff;
	background-color: #ccc;
}
.btn-publish{
	color: #fff;
	background-color:#7bbe6e;
}
.show-btn{
    border: 0;
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 4px;
	width: 70px;
	height: 25px;
	font: 15px/25px "微软雅黑";
}
.col-name{
	margin-top: 20px;
	overflow: hidden;
}
.col-code{
	margin-top: 20px;
	overflow: hidden;
}
.col-msg{
	font: 10px/20px "微软雅黑";
	color: #999999;
	margin-top: 20px;
	overflow: hidden;
}
.sem-area .col-xs-4,.col-xs-8{
	padding: 0px 10px 0px 0px;
}
.sem_select{
	overflow: hidden;
	margin-top: 10px;
	height: 25px;
	line-height: 25px;
}
.sem_select select{
	width: 100%;
	height: 25px;
	display: block;
	font: 10px/25px "微软雅黑";
}